.section {
  position: fixed;
  top: 750px;
  right: 450px;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 100%;
  font-family: sans-serif;
}
#menu li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}
#menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}
